.mat-card{
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
    max-height: 600px;
}

.header{
    text-align: center;
}

.full-width{
    width: 80%;
}

.forgot-passsword{
    padding-left: 0px;
}

.email-input{
    padding-top: 10px;
}

.aLink{
    float: right;
    padding-right: 60px;
    text-decoration: none;
}

.b-collor{
    background: #97D8ED;
    min-height: 100%;
    padding: 70px 1rem;
    display: block;
}